In [2]:
import mysql.connector

In [19]:
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",  
    database=""  
)

In [20]:

# create database
mycur = mydb.cursor()
mycur.execute("CREATE DATABASE All_users")

DatabaseError: 1007 (HY000): Can't create database 'all_users'; database exists

In [21]:
mycur.execute("SHOW DATABASES")

In [22]:

for i in mycur:
    print(i)

('all_users',)
('authorized_users',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [23]:
# create table
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="All_users",
)

mycur = mydb.cursor()
mycur.execute("CREATE TABLE users (id INT AUTO_INCREMENT PRIMARY KEY, Name VARCHAR(255), Age INT(50), Department VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'users' already exists

In [26]:
mycur.execute("SHOW TABLES")

InternalError: Unread result found

In [27]:
for x in mycur:
    print(x)

('users',)

In [1]:

import mysql.connector

try:
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="",
        database="all_users"
    )
    if connection.is_connected():
        print("Connected to MySQL")
    else:
        print("Failed to connect")
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    if connection and connection.is_connected():
        connection.close()

Connected to MySQL

In [1]:
import mysql.connector

In [3]:
# create database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
)

In [4]:
mycur = mydb.cursor()
mycur.execute("CREATE DATABASE attendance")

In [5]:
# crete table
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="attendance"
)
mycur = mydb.cursor()
mycur.execute("CREATE TABLE attendance (id INT AUTO_INCREMENT PRIMARY KEY, Name VARCHAR(255), Date VARCHAR(255), Time VARCHAR(255))")

In [8]:
# create studnent table
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="attendance"
)
mycur = mydb.cursor()
mycur.execute("CREATE TABLE students (id INT AUTO_INCREMENT PRIMARY KEY, Name VARCHAR(255), Age INT(50), Department VARCHAR(255))")

In [9]:
# add a column to addence table
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="attendance"
)
mycur = mydb.cursor()
mycur.execute("ALTER TABLE attendance ADD student_id INT NOT NULL;")

In [3]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="attendance"
)
mycur = mydb.cursor()

# SQL command to delete all records from the attendance table
mycur.execute("DELETE FROM attendance;")

# Commit the changes to the database
mydb.commit()

# Close the cursor and connection
mycur.close()
mydb.close()

In [4]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="attendance"
)

mycur = mydb.cursor()

# Step 1: Add the Department column
mycur.execute("ALTER TABLE attendance ADD COLUMN Department VARCHAR(255)")

# Step 2: Drop the student_id column
mycur.execute("ALTER TABLE attendance DROP COLUMN student_id")

mydb.commit()